<p id="notice"><%= notice %></p>

<h1>
  <%= check_box_tag :task_done, "", @task.done %>
  <%= @task.title %>
</h1>

<p>
  <strong>Project:</strong>
  <%= link_to @task.project.name, @task.project %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

<h2>Comments</h2>

<ol>
  <% @task.comments.each do |comment| %>
  <li>
    <h3><%= comment.name %> <small><%= comment.email %></small> </h3>
    <blockquote><%= comment.body %></blockquote>
  </li>
  <% end %>
</ol>

<%= form_for([ @task, @task.comments.build ]) do |f| %>
<p>
  <%= f.text_field :name, placeholder: "Name" %>
</p>

<p>
  <%= f.email_field :email, placeholder: "Email" %>
</p>

<p>
  <%= f.text_area :body, rows: 8, cols: 50 %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
