<!DOCTYPE html>
<html>
<head>
  <title>Projekts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="container-projects">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Sidebar</h2>

      <%= yield(:sidebar) %>
    </div>
  </div>
</body>
</html>
